.background-landing {
  background-image: url("/public/assets/images/background-landing.svg");
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
}
.background-landing:before {
  content: "";
  z-index: 105;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: linear-gradient(90deg, #0A0E14 0%, rgba(0, 0, 0, 0) 92.08%);
  pointer-events: none;
  opacity: 0.8;
}
.background-landing:after {
  content: "";
  z-index: 105;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background: linear-gradient(90deg, #0A0E14 0%, rgba(0, 0, 0, 0) 92.08%);
  transform: rotate(180deg);
  pointer-events: none;
  opacity: 0.8;
}

.container-planet {
  margin: 2rem auto 0 auto;
  width: 100%;
  max-width: 1300px;
  height: 75%;
  position: relative;
  z-index: 10;
}
.container-planet > .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.container-planet > .container > .active {
  pointer-events: auto;
  cursor: pointer;
  display: block;
  left: 50%;
  transform: translateX(-49%) translateY(-9%);
}
.container-planet > .container > .active > img {
  height: 115%;
  object-position: center;
}
.container-planet > .container > .left {
  display: block;
  left: 0;
  z-index: -1;
  transform: translateX(-38%);
  pointer-events: none;
}
.container-planet > .container > .left > img {
  filter: grayscale(100%) contrast(2.5);
}
.container-planet > .container > .right {
  display: block;
  right: 0;
  z-index: -1;
  transform: translateX(38%);
  pointer-events: none;
}
.container-planet > .container > .right > img {
  filter: grayscale(100%) contrast(2.5);
}
.container-planet > .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
  z-index: 10;
}
.container-planet .arrow {
  position: absolute;
  z-index: 50;
  top: 50%;
}
.container-planet .arrow img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 0px 1px rgb(255, 255, 255)) brightness(100%) contrast(10);
}
.container-planet .arrow:hover img {
  transform: scale(1.1);
}
.container-planet .arrow-left {
  left: 0;
  transform: translateX(50%) translateY(-50%);
}
.container-planet .arrow-right {
  right: 0;
  transform: translateX(-50%) translateY(-50%);
}

.planet {
  position: absolute;
  height: 100%;
  object-fit: contain;
  display: none;
  pointer-events: none;
}
.planet > img {
  height: 100%;
}

.dot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 2rem 2rem 3.5rem;
}
.dot-container .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  opacity: 0.5;
}
.dot-container .active {
  background: #FFFFFF;
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}
.link-container > img {
  width: 200px;
  position: absolute;
  bottom: 50%;
  transform: translateY(47%) translateX(-80%);
  left: 0;
}

.link {
  color: #FFFFFF !important;
  text-decoration: unset !important;
}
.link:hover {
  color: #FFFFFF;
}
.link:visited {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
